<%- include("../partials/header.ejs") %>

<% for(let i = 0; i<10 ; i++) {%>
<div class="card w-75">
    <div class="card-body">
        <div>
            <img src=""></img>
            <h5 class="card-title">Card title</h5>
        </div>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
<%}%>

<%- include("../partials/footer.ejs") %>