<%- include("./partials/header.ejs") %>
<div class="bodyHome">
<div class="welcome">Welcome to Selim's Team Picker Page</div>
<div class="welcomeMessage"><p>This Application is Team Picker, this is created for CodeCore Homework. If you want to get more information you should visit <a href="https://codecore.moodle.school/mod/assign/view.php?id=952" target="_blank">the page of Homework</a> </p>
</div>
</div>

<%- include("./partials/footer.ejs") %>